<% if @products.count == 0 %>
  <div class="alert alert-danger">
    <strong>Oh snap!</strong> Your search did not find any matching documents. Try tweaking your terms and see if you have more luck.
  </div>
  <center>
    <img src="/assets/404-cat.gif" />
  </center>
<% end %>
